@page
@model Prj_GestionPDC_AMTH.LoginModel

@{
    ViewBag.Title = "ASP.NET Core Razor Pages - Ejemplo Simple Login Entity Framework";
}

<h2>@ViewBag.Title.</h2>

<div class="row">
    <div class="col-md-8">
        <section>
            <form method="post" role="form" class="form-horizontal">
                @Html.AntiForgeryToken()

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-group">
                    <label asp-for="Login_pg.Username" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="Login_pg.Username" class="form-control" />
                        <span class="alert-danger" asp-validation-for="Login_pg.Username"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="Login_pg.Password" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="Login_pg.Password" class="form-control" />
                        <span class="alert-danger" asp-validation-for="Login_pg.Password"></span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button asp-page-handler="LogIn" class="btn btn-primary">Log in</button>
                    </div>
                </div>
            </form>
        </section>
    </div>
</div>
